<!DOCTYPE html>
<html class="fullheight">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta property="og:site_name" content="Upstream Challenge">
  <meta property="og:title" content="Upstream Challenge">
  <meta property="og:description" content="Upstream Challenge is a contest for students, aiming to encourage - and raise awareness of - their contributions to Open Source projects">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://uc.rosedu.org/">
  <meta property="og:image" content="http://www.rosedu.org/resources/promo/uc_promo_banner.png">
  <title>Upstream Challenge</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/fontface.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/bootstrap-responsive.min.css">
</head>
<body class="fullheight">
<div class="flexboxlayout fullheight">
  <div class="wrapper">
    <div class="row-fluid">
      <div class="span3" id="menu_wrapper">
        <!-- We use JavaScript to load images after all the text has been loaded/displayed, hence the use of src="images/transparent.png" below -->
        <h2 id="menu_header" class="logotoppadding"><img id="uc_logo" src="../images/transparent.png" style="max-width: 100%;"></h2>
        <div id="menu">
          <ul style="font-family: 'OpenSansRegular';">
            <li class="ucmenuitem" data-id="#acasa">
              <a href="#acasa">Home</a>
            </li>
            <li class="ucmenuitem" data-id="#regulament">
              <a href="#regulament">Rules</a>
            </li>
            <li class="ucmenuitem" data-id="#proiecte">
              <a href="#proiecte">Projects</a>
            </li>
            <li class="ucmenuitem" data-id="#track_anul_1">
              <a href="#track_anul_1">1st Year</a>
            </li>
            <li class="ucmenuitem" data-id="#track_anul_2">
              <a href="#track_anul_2">2nd Year</a>
            </li>
            <li class="ucmenuitem" data-id="#track_anul_3">
              <a href="#track_anul_3">3rd Year</a>
            </li>
            <li class="ucmenuitem" data-id="#track_anul_4_si_master">
              <a href="#track_anul_4_si_master">4th Year/M.Sc.</a>
            </li>
            <li class="ucmenuitem" data-id="#meta">
              <a href="#meta">About us</a>
            </li>
            <li class="ucmenuitem" data-id="#sponsors">
              <a href="#sponsors">Sponsors</a>
            </li>
            <li>
              <a href="../">Română</a>
            </li>
          </ul>
        </div> <!-- id="menu" -->
      </div> <!-- id="menu_wrapper" -->

      <div class="main span8 offset1">
        <span id="top_of_content"></span>
        <div id="acasa_content" class="visualstate">
          <h2 id="uc_heading" style="margin-top: 12px; margin-bottom: 20px;">Upstream Challenge is a contest for students, aiming to encourage - and raise awareness of - their contributions to Open Source projects</h2>
          <h3>About the contest</h3>
          <p>Over the past few years, contributions to Open Source projects by undergraduate students have increasingly gained visibility. With support from local communities, industry partners and opportunities like Google Summer of Code, ROSEdu Summer of Code etc. students advance their programming as well as teamwork skills.</p>
          <p>To further stimulate ongoing contributions, we have created - and encourage you to participate in - the Upstream Challenge.</p>
          <p>The contest will run from the 1st of March through the 15th of September 2014.</p>
          <br>
          <h3>How do I participate?</h3>
          <p>Read the rules, the project list and the Meta page.</p>
          <p>
            To enter the challenge you will have to subscribe to the mailing list and then:<br>
            - identify a bug;<br>
            - solve the bug;<br>
            - send an e-mail with the details of the bug and your patch.<br>
            Repeat the three steps above for another bug.
          </p>
        </div> <!-- id="acasa_content" -->

        <div id="regulament_content" class="visualstate">
          <h3>Rules</h3>
          <p><strong>Duration</strong></p>
          <p>The contest will run from the 1st of March through the 15th of September 2014.</p>
          <p><strong>Participants</strong></p>
          <p>Any Romanian undergraduate or master level student may enter the contest. Persons affiliated with the sponsors (e.g. employees) and persons who are remunerated to contribute to an open source project may participate but will not be eligible to win any prize. Persons that engage in programs that encourage open source contributions, and receive allowance, may participate.</p>
          <p><strong>Structure</strong></p>
          <p>
            The challenge is split into 4 tracks, in order to encourage all students to participate.<br>
            - <a href="#track_anul_1" class="ucmenuitem" data-id="#track_anul_1">1st Year</a><br>
            - <a href="#track_anul_1" class="ucmenuitem" data-id="#track_anul_2">2nd Year</a><br>
            - <a href="#track_anul_1" class="ucmenuitem" data-id="#track_anul_3">3rd Year</a><br>
            - <a href="#track_anul_1" class="ucmenuitem" data-id="#track_anul_4_si_master">4th Year/M.Sc.</a><br>
          </p>
          <p><strong>Project eligibility</strong></p>
          <p>The open source project that you contribute to must have had at least one public release prior to the 1st of February 2014.</p>
          <p>The project must be Open Source and may not be encumbered by any legal issues with other projects or entities (e.g. reverse engineering projects are precluded).</p>
          <p>A project's complexity and the size of its user base will also be taken into consideration when deciding eligibility.</p>
          <p>For a project to be accepted, you will have to ask this by sending an e-mail to <a href="http://lists.rosedu.org/listinfo/upstream-challenge" target="_blank">upstream-challenge@lists.rosedu.org</a>. Use the subject <em>[UpstreamChallenge] Project Eligibility - ProjectName</em> (where <em>ProjectName</em> is the name of the project) and provide us with a link to the project site and the open source license it uses. We will reply shortly. If the project is accepted you may make contributions to it.</p>
          <p>We maintain <a href="#proiecte" class="ucmenuitem" data-id="#proiecte">a list of accepted projects</a> that is updated as new projects are accepted.</p>
          <p>Should you have doubts about the project's compliance with these requirements, please send an e-mail to <a href="http://lists.rosedu.org/listinfo/upstream-challenge" target="_blank">upstream-challenge@lists.rosedu.org</a>.</p>
          <p><strong>Operating procedures during the contest</strong></p>
          <p>During the challenge, the student must observe the following workflow:</p>
          <ol>
            <li>identify a bug/feature</li>
            <li>solve the bug/feature request</li>
            <li>send the contribution upstream</li>
            <li>send an email to <a href="http://lists.rosedu.org/listinfo/upstream-challenge" target="_blank">upstream-challenge@lists.rosedu.org</a> no later than 7 days after submitting the contribution upstream. The e-mail must contain a link to the commits.</li>
          </ol>
          <p>Each track has a designated person-in-charge, who is responsible for keeping up-to-date records of contributions from participants. Updates will be published on this website no later than 7 days after the e-mail has been received or the patch has been applied upstream.</p>
          <p>If the e-mail containing the list of commits isn't sent in due time, the contribution will not be counted towards the final evaluation.</p>
          <p><strong>Rules for evaluating a patch</strong></p>
          <p>Patches sent by each participant will be evaluated by taking into account:</p>
          <ul>
            <li>the importance of the bug</li>
            <li>the difficulty in solving the bug</li>
            <li>the number of users affected</li>
            <li>the participant's activity on IRC and on the mailing list</li>
            <li>consistency - we favor a stream of consistent contributions to the same project during the contest, over contributions scattered across several projects. Submitting patches to multiple projects will result in lower rankings</li>
          </ul>
          <p><strong>Prizes</strong></p>
<!--
          <p hidden>Pentru fiecare dintre cele 5 track-uri, marele premiu va fi câte un ... în valoare de ... oferit de Intel România, sponsor principal.</p>
          <p>Besides the Grand Prize, there will be special prizes offered by sponsors for significant contributions. These prizes may be global, per track or per project.</p>
          <p>Prises on each track will include a tablet, mobile phone, raspberry pi board and a lot of other surprises.</p>
-->
          <p>On each track, we will offer a <a href="http://en.wikipedia.org/wiki/Kindle_Fire_HDX" target="_blank">Kindle Fire HDX</a>, a <a href="http://en.wikipedia.org/wiki/Pebble_Smartwatch" target="_blank">Pebble smartwatch</a>, and a <a href="http://www.raspberry-projects.com/pi/pi-hardware/hardware-general-specifications" target="_blank">raspberry pi kit</a>. Besides these, sponsors may offer special prizes per track or per project for significant contributions.</p>
          <p>The organizers and sponsors may not offer warranty for the prizes.</p>
        </div> <!-- id="regulament_content" -->

        <div id="proiecte_content" class="visualstate">
          <table class="table">
            <tr>
              <td colspan=2>
                <h3>Projects</h3>
                <br>
                <strong>This is a list of accepted projects. You may contribute to other projects. Ask for them to be accepted and they will be added to this page.</strong>
                <br>
                <br>
              </td>
            </tr>
            <tr><td><a href="http://www.kernel.org/" target="_blank"><strong>Linux Kernel</strong></a></td></tr>
            <tr><td><a href="https://wiki.mozilla.org/Main_Page" target="_blank"><strong>Mozilla</strong></a></td></tr>
            <tr><td><a href="https://github.com/rosedu/wouso" target="_blank"><strong>WoUSO</strong></a></td></tr>
            <tr><td><a href="https://github.com/rosedu/rosedu-people" target="_blank"><strong>ROSEdu People</strong></a></td></tr>
            <tr><td><a href="http://openvswitch.org/development/" target="_blank"><strong>Open vSwitch</strong></a></td></tr>
            <tr><td><a href="http://audacious-media-player.org/" target="_blank"><strong>Audacious</strong></a></td></tr>
            <tr><td><a href="http://www.antlr.org/" target="_blank"><strong>ANTLR</strong></a></td></tr>
            <tr><td><a href="http://topcoat.io/" target="_blank"><strong>Topcoat</strong></a></td></tr>
            <tr><td><a href="https://github.com/fabric/fabric" target="_blank"><strong>Python Fabric</strong></a></td></tr>
            <tr><td><a href="https://github.com/mxcl/homebrew" target="_blank"><strong>Homebrew</strong></a></td></tr>
            <tr><td><a href="https://github.com/haskell/cabal" target="_blank"><strong>Cabal</strong></a></td></tr>
            <tr><td><a href="https://github.com/diagrams" target="_blank"><strong>Diagrams</strong></a></td></tr>
            <tr><td><a href="http://xmonad.org/" target="_blank"><strong>Xmonad</strong></a></td></tr>
            <tr><td><a href="https://github.com/yesodweb/yesod" target="_blank"><strong>Yesod</strong></a></td></tr>
            <tr><td><a href="http://jekyllrb.com/" target="_blank"><strong>Jekyll</strong></a></td></tr>
            <tr><td><a href="https://drupal.org/contribute/development" target="_blank"><strong>Drupal</strong></a></td></tr>
            <tr><td><a href="http://wordpress.org/" target="_blank"><strong>Wordpress</strong></a></td></tr>
            <tr><td><a href="https://rvm.io/" target="_blank"><strong>RVM</strong></a></td></tr>
            <tr><td><a href="http://puma.io/" target="_blank"><strong>Puma</strong></a></td></tr>
            <tr><td><a href="https://github.com/gitlabhq/gitlabhq" target="_blank"><strong>GitLab</strong></a></td></tr>
            <tr><td><a href="http://rubyonrails.org/" target="_blank"><strong>Ruby on Rails</strong></a></td></tr>
            <tr><td><a href="http://www.metasploit.com/" target="_blank"><strong>Metasploit</strong></a></td></tr>
            <tr><td><a href="http://crosstool-ng.org/" target="_blank"><strong>Crosstool NG</strong></a></td></tr>
            <tr><td><a href="http://www.cyanogenmod.org/community" target="_blank"><strong>Cyanogenmod</strong></a></td></tr>
            <tr><td><a href="https://developer.gnome.org/" target="_blank"><strong>Gnome</strong></a></td></tr>
            <tr><td><a href="http://www.kde.org/" target="_blank"><strong>KDE</strong></a></td></tr>
            <tr><td><a href="http://kivy.org/" target="_blank"><strong>Kivy</strong></a></td></tr>
            <tr><td><a href="http://www.thousandparsec.net/tp/" target="_blank"><strong>Thousand Parsec</strong></a></td></tr>
            <tr><td><a href="http://play0ad.com/" target="_blank"><strong>0 A.D.</strong></a></td></tr>
            <tr><td><a href="http://rephial.org/" target="_blank"><strong>Angband</strong></a></td></tr>
            <tr><td><a href="http://www.nethack.org/" target="_blank"><strong>NetHack</strong></a></td></tr>
            <tr><td><a href="http://www.wesnoth.org/" target="_blank"><strong>Battle For Westnoth</strong></a></td></tr>
            <tr><td><a href="http://www.flightgear.org/" target="_blank"><strong>FlightGear</strong></a></td></tr>
            <tr><td><a href="http://freeciv.wikia.com/wiki/Main_Page" target="_blank"><strong>FreeCiv</strong></a></td></tr>
            <tr><td><a href="http://www.freecol.org/" target="_blank"><strong>FreeCol</strong></a></td></tr>
            <tr><td><a href="http://megaglest.org/" target="_blank"><strong>Mega Glest</strong></a></td></tr>
            <tr><td><a href="http://triplea.sourceforge.net/mywiki" target="_blank"><strong>TripleA</strong></a></td></tr>
            <tr><td><a href="http://www.unknown-horizons.org/" target="_blank"><strong>Unknown Horizons</strong></a></td></tr>
            <tr><td><a href="http://wl.widelands.org/" target="_blank"><strong>Widelands</strong></a></td></tr>
            <tr><td><a href="https://github.com/dfilimon/Jeopy" target="_blank"><strong>Jeopardy</strong></a></td></tr>
            <tr><td><a href="http://www.digikam.org/" target="_blank"><strong>Digikam</strong></a></td></tr>
            <tr><td><a href="https://github.com/rosedu/vmchecker" target="_blank"><strong>VmChecker</strong></a></td></tr>
            <tr><td><a href="http://cmusphinx.sourceforge.net/" target="_blank"><strong>CMUSphinx</strong></a></td></tr>
            <tr><td><a href="http://mono-project.com/" target="_blank"><strong>Mono</strong></a></td></tr>
            <tr><td><a href="http://monodevelop.com/" target="_blank"><strong>MonoDevelop</strong></a></td></tr>
            <tr><td><a href="http://monogame.net/" target="_blank"><strong>MonoGame</strong></a></td></tr>
            <tr><td><a href="http://mixxx.org/" target="_blank"><strong>Mixxx</strong></a></td></tr>
            <tr><td><a href="https://github.com/cmarius02/github-connect" target="_blank"><strong>Github-connect</strong></a></td></tr>
            <tr><td><a href="http://opencv.org/" target="_blank"><strong>OpenCV</strong></a></td></tr>
            <tr>
              <td colspan=2>
                <br>
                <strong>Other projects will be added to the list as they are accepted.</strong>
              </td>
            </tr>
          </table>
        </div> <!-- id="proiecte_content" -->

        <div id="track_anul_1_content" class="visualstate">
          <table id="anul_1_table" class="table">
            <tr>
              <td colspan=2>
                <h3>1st Year Track</h3>
                <br>
<!--
                <strong>
                  This track does not yet have any contributions.
                </strong>
-->
                <strong>
                  There are <span id="anul_1_contrib_count"></span> accepted contributions in this track.
                  <br>
                  <br>
                  The following participants have submitted contibutions:
                </strong>
                <br>
              </td>
            </tr>
          </table>
        </div> <!-- id="track_anul_1_content" -->

        <div id="track_anul_2_content" class="visualstate">
          <table id="anul_2_table" class="table">
            <tr>
              <td colspan=2>
                <h3>2nd Year Track</h3>
                <br>
<!--
                <strong>
                  This track does not yet have any contributions.
                </strong>
-->
                <strong>
                  There are <span id="anul_2_contrib_count"></span> accepted contributions in this track.
                  <br>
                  <br>
                  The following participants have submitted contibutions:
                </strong>
                <br>
              </td>
            </tr>
          </table>
        </div> <!-- id="track_anul_2_content" -->

        <div id="track_anul_3_content" class="visualstate">
          <table id="anul_3_table" class="table">
            <tr>
              <td colspan=2>
                <h3>3rd Year Track</h3>
                <br>
<!--
                <strong>
                  This track does not yet have any contributions.
                </strong>
-->
                <strong>
                  There are <span id="anul_3_contrib_count"></span> accepted contributions in this track.
                  <br>
                  <br>
                  The following participants have submitted contibutions:
                </strong>
                <br>
              </td>
            </tr>
          </table>
        </div> <!-- id="track_anul_3_content" -->

        <div id="track_anul_4_si_master_content" class="visualstate">
          <table id="anul_4_si_master_table" class="table">
            <tr>
              <td colspan=2>
                <h3>4th Year/M.Sc. Track</h3>
                <br>
<!--
                <strong>
                  This track does not yet have any contributions.
                </strong>
-->
                <strong>
                  There are <span id="anul_4_si_master_contrib_count"></span> accepted contributions in this track.
                  <br>
                  <br>
                  The following participants have submitted contibutions:
                </strong>
                <br>
              </td>
            </tr>
          </table>
        </div> <!-- id="track_anul_4_si_master_content" -->

        <div id="meta_content" class="visualstate">
          <h3>Meta</h3>
          <p><strong>Useful links</strong></p>
          <p>
            Contributions by track:<br>
            - <a href="#track_anul_1" class="ucmenuitem" data-id="#track_anul_1">1st Year</a><br>
            - <a href="#track_anul_1" class="ucmenuitem" data-id="#track_anul_2">2nd Year</a><br>
            - <a href="#track_anul_1" class="ucmenuitem" data-id="#track_anul_3">3rd Year</a><br>
            - <a href="#track_anul_1" class="ucmenuitem" data-id="#track_anul_4_si_master">4th Year/M.Sc.</a><br>
          </p>
          <p><a href="#proiecte" class="ucmenuitem" data-id="#proiecte">List of suggested projects</a></p>
          <p>Public mailing list: <a href="http://lists.rosedu.org/listinfo/upstream-challenge" target="_blank">upstream-challenge@lists.rosedu.org</a></p>
          <p>Kernel-focused mailing list: <a href="http://lists.rosedu.org/listinfo/firefly" target="_blank">firefly@lists.rosedu.org</a></p>
          <p><a href="https://www.facebook.com/UpstreamChallenge" target="_blank">Facebook</a> and <a href="https://plus.google.com/u/0/b/113601665378127579242/113601665378127579242/posts" target="_blank">Google+</a> pages</p>
          <p><strong>Student support</strong></p>
          <p>To support the challenge, we will organize workshops about git, issue trackers and patch submission. These will be announced on our <a href="https://www.facebook.com/UpstreamChallenge" target="_blank">Facebook</a> and <a href="https://plus.google.com/u/0/b/113601665378127579242/113601665378127579242/posts" target="_blank">Google+</a> pages.</p>
          <p>Students may ask development-related questions on the <a href="http://lists.rosedu.org/listinfo/upstream-challenge" target="_blank">upstream-challenge@lists.rosedu.org</a> and <a href="http://lists.rosedu.org/listinfo/firefly" target="_blank">firefly@lists.rosedu.org</a> mailing lists or on the <a href="https://www.facebook.com/UpstreamChallenge" target="_blank">Facebook</a> and <a href="https://plus.google.com/u/0/b/113601665378127579242/113601665378127579242/posts" target="_blank">Google+</a> pages.</p>
          <p>Students are encouraged to share their experience during a contribution through <a href="http://techblog.rosedu.org/" target="_blank">ROSEdu Techblog</a> or <a href="http://talks.rosedu.org/" target="_blank">ROSEdu TechTalks</a>.</p>
          <p><strong>Previous editions</strong></p>
          <p>
            <a href="http://elf.cs.pub.ro/so/wiki/upstream-challenge" target="_blank">2012</a>
            <br>
            <a href="/past-editions/2013/" target="_blank">2013</a>
          </p>
<!--
          <p><strong>Sponsorizare</strong></p>
          <p hidden>Concursul este sponsorizat de <a href="http://www.intel.com/" target="_blank">Intel România</a>. Consultați <a href="#regulament" class="ucmenuitem" data-id="#regulament">regulamentul</a> pentru detalii.</p>
-->
          <p><strong>Copyright</strong></p>
          <p>ROSEdu owns the rights to the entire contents of this website.
             <br>
             ROSEdu releases this material under the <a href="http://www.gnu.org/licenses/fdl-1.2.html" target="_blank">GNU Free Documentation License v1.2</a>.
          </p>
        </div> <!-- id="meta_content" -->

        <div id="sponsors_content" class="visualstate">
          <table>
            <tr>
              <td class="sponsor_logo_td">
                <!-- We use JavaScript to load images after all the text has been loaded/displayed, hence the use of src="" below -->
                <a href="https://software.intel.com/" target="_blank"><img id="intel_logo" style="max-width: 232px;" src=""></a>
              </td>
              <td class="sponsor_copy_td">
                <p><strong>Sponsor: Intel Software</strong></p>
                <p><a href="https://software.intel.com/" target="_blank">https://software.intel.com/</a></p>
              </td>
            </tr>
            <tr>
              <td class="sponsor_logo_td">
                <!-- We use JavaScript to load images after all the text has been loaded/displayed, hence the use of src="" below -->
                <a href="http://www.mozilla.org/" target="_blank"><img id="mozilla_logo" style="max-width: 232px;" src=""></a>
              </td>
              <td class="sponsor_copy_td">
                <p><strong>Sponsor: Mozilla</strong></p>
                <p><a href="http://www.mozilla.org/" target="_blank">http://www.mozilla.org/</a></p>
              </td>
            </tr>
          </table>
        </div> <!-- id="sponsors_content" -->

        <div id="participant_content" class="visualstate">
          <p id="participant_error" style="display: none;"><strong>Această pagină nu conține date.</strong></p>
          <table id="participant_success" class="table">
            <tr>
              <td colspan=5>
                <h3 id="participant_full_name"></h3>
                <br>
                <strong>
                  Track: <span id="participant_track"></span>
                  <br>
                  <br>
                  Contribuții: <span id="participant_contrib_count"></span>
                  <br>
                  <br>
                  <!-- Punctaj: <span id="participant_overall_score"></span> -->&nbsp;
                </strong>
                <br>
              </td>
            </tr>
            <tr>
              <td><strong>Data</strong></td>
              <td><strong>Proiect</strong></td>
              <td><strong>Patch</strong></td>
              <td><strong><!-- Dificultate -->&nbsp;</strong></td>
              <td><strong><!-- Impact -->&nbsp;</strong></td>
            </tr>
          </table>
        </div> <!-- id="participant_content" -->

        <h3>&nbsp;</h3>

        <p class="extra_buttons" id="tap_target_acasa">
          <button class="btn greybutton ucmenuitem" data-id="#acasa">
            <strong>Home</strong>
          </button>
        </p>
        <p class="extra_buttons">
          <button class="btn greybutton ucmenuitem" data-id="#regulament">
            <strong>Rules</strong>
          </button>
        </p>
        <p class="extra_buttons">
          <button class="btn greybutton ucmenuitem" data-id="#proiecte">
            <strong>Projects</strong>
          </button>
        </p>
        <p class="extra_buttons">
          <button class="btn greybutton ucmenuitem" data-id="#track_anul_1">
            <strong>1st Year Track</strong>
          </button>
        </p>
        <p class="extra_buttons">
          <button class="btn greybutton ucmenuitem" data-id="#track_anul_2">
            <strong>2nd Year Track</strong>
          </button>
        </p>
        <p class="extra_buttons">
          <button class="btn greybutton ucmenuitem" data-id="#track_anul_3">
            <strong>3rd Year Track</strong>
          </button>
        </p>
        <p class="extra_buttons">
          <button class="btn greybutton ucmenuitem" data-id="#track_anul_4_si_master">
            <strong>4th Year/M.Sc. Track</strong>
          </button>
        </p>
        <p class="extra_buttons">
          <button class="btn greybutton ucmenuitem" data-id="#meta">
            <strong>About us</strong>
          </button>
        </p>
        <p class="extra_buttons">
          <a href="../">
            <button class="btn greybutton">
              <strong>Română</strong>
            </button>
          </a>
        </p>
      </div> <!-- class="main span8 offset1" -->
    </div> <!-- class="row-fluid" -->
  </div> <!-- class="wrapper" -->

  <div style="display: none;">
    <img id="arrow_hover" src="">
    <img id="blue_gradient" src="">
  </div>
</div> <!-- class="flexboxlayout fullheight" -->
</body>
</html>
<script type="text/html" id="participant_tr">
  <tr class="participant">
    <td>
      <a href="#<%= participant_id_and_track %>" class="participant_contributions_link" data-id="#<%= participant_id_and_track %>"><strong><%= participant_full_name %></strong></a>
    </td>
    <td>
      <strong><!-- <%= participant_overall_score %>p -->&nbsp;</strong>
    </td>
  </tr>
</script>
<script type="text/html" id="contribution_tr">
  <tr class="contribution">
    <td><%= contribution_date %></td>
    <td><%= contribution_project %></td>
    <td>
      <a href="<%= contribution_patch_url %>" target="_blank">commit</a>
    </td>
    <td><!-- <%= contribution_difficulty_score %> -->&nbsp;</td>
    <td><!-- <%= contribution_impact_score %> -->&nbsp;</td>
  </tr>
</script>
<script src="../js/zepto.min.js"></script>
<script src="../js/underscore.min.js"></script>
<script src="js/main.js"></script>

