<!DOCTYPE html>
<html class="fullheight">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>Upstream Challenge</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/fontface.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
</head>
<body class="fullheight">
<div class="flexboxlayout fullheight">
  <div class="wrapper">
    <div class="row-fluid">
      <div class="span3" id="menu_wrapper">
        <!-- We use JavaScript to load images after all the text has been loaded/displayed, hence the use of src="images/transparent.png" below -->
        <h2 id="menu_header" class="logotoppadding"><img id="uc_logo" src="images/transparent.png" style="max-width: 100%;"></h2>
        <div id="menu">
          <ul style="font-family: 'OpenSansRegular';">
            <li class="ucmenuitem" data-id="#acasa">        <a href="#acasa">Acasă</a>                </li>
            <li class="ucmenuitem" data-id="#regulament">   <a href="#regulament">Regulament</a>      </li>
            <li class="ucmenuitem" data-id="#proiecte">     <a href="#proiecte">Proiecte</a>          </li>
            <li class="ucmenuitem" data-id="#track_anul_1"> <a href="#track_anul_1">Track: Anul 1</a> </li>
            <li class="ucmenuitem" data-id="#track_anul_2"> <a href="#track_anul_2">Track: Anul 2</a> </li>
            <li class="ucmenuitem" data-id="#track_anul_3"> <a href="#track_anul_3">Track: Anul 3</a> </li>
            <li class="ucmenuitem" data-id="#track_anul_4"> <a href="#track_anul_4">Track: Anul 4</a> </li>
            <li class="ucmenuitem" data-id="#track_master"> <a href="#track_master">Track: Master</a> </li>
            <li class="ucmenuitem" data-id="#meta">         <a href="#meta">Meta</a>                  </li>
          </ul>
        </div> <!-- id="menu" -->
      </div> <!-- id="menu_wrapper" -->

      <div class="main span8 offset1">
        <span id="top_of_content"></span>
        <div id="acasa_content" class="visualstate">
          <h2 id="uc_heading" style="margin-top: 12px; margin-bottom: 20px;">Upstream Challenge este un concurs dedicat studenților pentru a încuraja contribuțiile în upstream la proiecte Open Source și pentru a promova și crește vizibilitatea acestora</h2>
          <h3>Despre concurs</h3>
          <p>În ultimii ani, contribuțiile în Open Source ale studenților UPB sunt din în ce în ce mai vizibile. Cu sprijinul comunităților locale, al partenerilor din industrie și al oportunităților de forma Google Summer of Code, ROSEdu Summer of Code, etc., studenții își îmbunătățesc abilitățile de dezvoltare de aplicații, abilitățile colaborative și își cresc vizibilitatea activităților.</p>
          <p>Pentru a stimula și mai mult contribuțiile, am dezvoltat și te încurajăm să participi la Upstream Challenge.</p>
          <p>Concursul se va desfășura în perioada februarie - mai 2014.</p>
          <br>
          <h3>Cum participi?</h3>
          <p>Citește regulamentul, lista de proiecte și secțiunea de resurse utile.</p>
          <p>
            Pentru a participa la concurs trebuie să te înscrii pe lista de discuții după care să:<br>
            - identifici un bug;<br>
            - rezolvi bug-ul;<br>
            - trimiți detaliile rezolvării bug-ului pe lista de discuții.<br>
            În continuare, pentru următoarele contribuții vei repeta cei 3 pași de mai sus.
          </p>
          <br>
          <h3>Știri</h3>
          <p>Stay tuned.</p>
        </div> <!-- id="acasa_content" -->

        <div id="regulament_content" class="visualstate">
          <h3>Regulament Upstream Challenge</h3>
          <p><strong>Durată</strong></p>
          <p>Concursul se va desfășura în perioada februarie - mai 2014.</p>
          <p><strong>Participanți</strong></p>
          <p>Concursul se adresează studenților UPB din ciclurile licență și master. Persoanele afiliate sponsorilor (angajați, sponsorizați pentru proiectele de diplomă etc.) cât și persoanele plătite (angajați) pentru a susține un anumit proiect open source vor putea participa pentru statistici dar NU vor fi eligibile pentru obținerea de premii.</p>
          <p><strong>Structură</strong></p>
          <p>
            Concursul este structurat pe 5 track-uri pentru a încuraja participarea tuturor studenților.<br>
            - <a href="#track_anul_1" class="ucmenuitem" data-id="#track_anul_1">Anul 1</a><br>
            - <a href="#track_anul_2" class="ucmenuitem" data-id="#track_anul_2">Anul 2</a><br>
            - <a href="#track_anul_3" class="ucmenuitem" data-id="#track_anul_3">Anul 3</a><br>
            - <a href="#track_anul_4" class="ucmenuitem" data-id="#track_anul_4">Anul 4</a><br>
            - <a href="#track_master" class="ucmenuitem" data-id="#track_master">Master</a>
          </p>
          <p><strong>Proiecte acceptate</strong></p>
          <p>Se vor accepta contribuții upstream pentru proiectele care au un release public cel târziu pe 30 septembrie 2013.</p>
          <p>Proiectele acceptate trebuie să fie Open Source și să nu fie implicate în probleme de legalitate cu alte proiecte sau firme existente (fără reverse engineering, probleme de licențiere etc.)</p>
          <p>Se vor evalua proiectele și calitativ, în funcție de complexitate și număr de utilizatori.</p>
          <p>În cazul în care nu se știe dacă proiectul se încadrează în aceste restricții, se poate întreba pe <a href="http://lists.rosedu.org/listinfo/upstream-challenge" target="_blank">upstream-challenge@lists.rosedu.org</a></p>
          <p>Pe site, există o <a href="#proiecte" class="ucmenuitem" data-id="#proiecte">listă de proiecte sugerate</a>, care va fi completată pe măsură ce apar proiecte noi.</p>
          <p><strong>Desfășurare</strong></p>
          <p>Pe durata participării la concurs, studentul va urmări următorul workflow:</p>
          <ol>
            <li>identifică un proiect și un bug/feature la care vrea să lucreze</li>
            <li>rezolvă bug-ul/feature request-ul</li>
            <li>trimite contribuția către upstream</li>
            <li>cel târziu la o săptămână după trimiterea contribuției upstream, va trimite un mail la <a href="http://lists.rosedu.org/listinfo/upstream-challenge" target="_blank">upstream-challenge@lists.rosedu.org</a> conținând link către lista de commit-uri din cadrul patch-ului. Organizatorii vor urmări evoluția patch-ului din momentul în care acest mail este trimis.</li>
          </ol>
          <p>Fiecare track are câte un responsabil care va urmări această listă și va actualiza paginile track-urilor, unde sunt listate contribuțiile participanților. Aceaste actualizări vor fi făcute în cel mult o săptămână de la trimiterea mail-ului sau schimbarea stării patch-ului.</p>
          <p>Dacă mail-ul cu lista de commit-uri nu este trimis în intervalul de o săptămână de la trimiterea upstream atunci contribuția nu mai face parte din concurs și nu va participa la evaluarea finală.</p>
          <p><strong>Reguli evaluare patch</strong></p>
          <p>Patch-urile trimise de participanți vor fi evaluate luând în calcul:</p>
          <ul>
            <li>importanța bugului</li>
            <li>dificultatea bugului</li>
            <li>numărul de utilizatori afectați</li>
            <li>activitatea studentului pe canalele proiectului (IRC, liste discuții) pe durata contribuției</li>
            <li>consecvența studentului: preferăm contribuții consistente la același proiect în defavoarea unor contribuții punctuale la mai multe proiecte</li>
          </ul>
          <p>NU va intra în evaluare promovarea activității prin <a href="http://techblog.rosedu.org/" target="_blank">ROSEdu TechBlog</a> sau <a href="http://talks.rosedu.org/" target="_blank">ROSEdu TechTalks</a>.</p>
          <p><strong>Premii</strong></p>
<!--
          <p hidden>Pentru fiecare dintre cele 5 track-uri, marele premiu va fi câte un ... în valoare de ... oferit de Intel România, sponsor principal.</p>
-->
          <p>Pe lângă marele premiu, vor exista premii speciale din partea sponsorilor pentru contribuții semnificative. Aceste premii pot fi globale, per track sau per proiect, la discreția celor care le oferă.</p>
          <p>Organizatorii și sponsorii nu se obligă să ofere garanție premiilor acordate.</p>
        </div> <!-- id="regulament_content" -->

        <div id="proiecte_content" class="visualstate">
          <table class="table">
            <tr>
              <td colspan=2>
                <h3>Proiecte</h3>
                <br>
                <strong>Aici aveți o listă de proiecte acceptate. Puteți contribui și la alte proiecte, vor fi adăugate aici în timp. Consultați regulamentul pentru detalii.</strong>
                <br>
                <br>
              </td>
            </tr>
            <tr><td><a href="http://www.kernel.org/" target="_blank"><strong>Linux Kernel</strong></a></td></tr>
            <tr><td><a href="https://wiki.mozilla.org/Main_Page" target="_blank"><strong>Mozilla</strong></a></td></tr>
            <tr><td><a href="https://github.com/rosedu/wouso" target="_blank"><strong>WoUSO</strong></a></td></tr>
            <tr><td><a href="https://github.com/rosedu/rosedu-people" target="_blank"><strong>ROSEdu People</strong></a></td></tr>
            <tr><td><a href="http://openvswitch.org/development/" target="_blank"><strong>Open vSwitch</strong></a></td></tr>
            <tr><td><a href="http://audacious-media-player.org/" target="_blank"><strong>Audacious</strong></a></td></tr>
            <tr><td><a href="http://www.antlr.org/" target="_blank"><strong>ANTLR</strong></a></td></tr>
            <tr><td><a href="http://topcoat.io/" target="_blank"><strong>Topcoat</strong></a></td></tr>
            <tr><td><a href="https://github.com/fabric/fabric" target="_blank"><strong>Pyhon Fabric</strong></a></td></tr>
            <tr><td><a href="https://github.com/mxcl/homebrew" target="_blank"><strong>Homebrew</strong></a></td></tr>
            <tr><td><a href="https://github.com/haskell/cabal" target="_blank"><strong>Cabal</strong></a></td></tr>
            <tr><td><a href="https://github.com/diagrams" target="_blank"><strong>Diagrams</strong></a></td></tr>
            <tr><td><a href="http://xmonad.org/" target="_blank"><strong>Xmonad</strong></a></td></tr>
            <tr><td><a href="https://github.com/yesodweb/yesod" target="_blank"><strong>Yesod</strong></a></td></tr>
            <tr><td><a href="http://jekyllrb.com/" target="_blank"><strong>Jekyll</strong></a></td></tr>
            <tr><td><a href="http://wordpress.org/" target="_blank"><strong>Wordpress</strong></a></td></tr>
            <tr><td><a href="https://rvm.io/" target="_blank"><strong>RVM</strong></a></td></tr>
            <tr><td><a href="http://puma.io/" target="_blank"><strong>Puma</strong></a></td></tr>
            <tr><td><a href="https://github.com/gitlabhq/gitlabhq" target="_blank"><strong>GitLab</strong></a></td></tr>
            <tr><td><a href="http://rubyonrails.org/" target="_blank"><strong>Ruby on Rails</strong></a></td></tr>
            <tr><td><a href="http://www.metasploit.com/" target="_blank"><strong>Metasploit</strong></a></td></tr>
            <tr><td><a href="http://crosstool-ng.org/" target="_blank"><strong>Crosstool NG</strong></a></td></tr>
            <tr><td><a href="http://www.cyanogenmod.org/community" target="_blank"><strong>Cyanogenmod</strong></a></td></tr>
            <tr><td><a href="http://www.kde.org/" target="_blank"><strong>KDE</strong></a></td></tr>
            <tr><td><a href="http://www.thousandparsec.net/tp/" target="_blank"><strong>Thousand Parsec</strong></a></td></tr>
            <tr><td><a href="http://play0ad.com/" target="_blank"><strong>0 A.D.</strong></a></td></tr>
            <tr><td><a href="http://rephial.org/" target="_blank"><strong>Angband</strong></a></td></tr>
            <tr><td><a href="http://www.nethack.org/" target="_blank"><strong>NetHack</strong></a></td></tr>
            <tr><td><a href="http://www.wesnoth.org/" target="_blank"><strong>Battle For Westnoth</strong></a></td></tr>
            <tr><td><a href="http://www.flightgear.org/" target="_blank"><strong>FlightGear</strong></a></td></tr>
            <tr><td><a href="http://freeciv.wikia.com/wiki/Main_Page" target="_blank"><strong>FreeCiv</strong></a></td></tr>
            <tr><td><a href="http://www.freecol.org/" target="_blank"><strong>FreeCol</strong></a></td></tr>
            <tr><td><a href="http://megaglest.org/" target="_blank"><strong>Mega Glest</strong></a></td></tr>
            <tr><td><a href="http://triplea.sourceforge.net/mywiki" target="_blank"><strong>TripleA</strong></a></td></tr>
            <tr><td><a href="http://www.unknown-horizons.org/" target="_blank"><strong>Unknown Horizons</strong></a></td></tr>
            <tr><td><a href="http://wl.widelands.org/" target="_blank"><strong>Widelands</strong></a></td></tr>
            <tr><td><a href="https://github.com/dfilimon/Jeopy" target="_blank"><strong>Jeopardy</strong></a></td></tr>
            <tr><td><a href="http://www.digikam.org/" target="_blank"><strong>Digikam</strong></a></td></tr>
            <tr><td><a href="https://github.com/vmchecker" target="_blank"><strong>VmChecker</strong></a></td></tr>
            <tr><td><a href="http://cmusphinx.sourceforge.net/" target="_blank"><strong>CMUSphinx</strong></a></td></tr>
            <tr><td><a href="http://mono-project.com/" target="_blank"><strong>Mono</strong></a></td></tr>
            <tr><td><a href="http://monodevelop.com/" target="_blank"><strong>MonoDevelop</strong></a></td></tr>
            <tr><td><a href="http://monogame.net/" target="_blank"><strong>MonoGame</strong></a></td></tr>
            <tr>
              <td colspan=2>
                <br>
                <strong>Alte proiecte vor fi anunțate în timp.</strong>
              </td>
            </tr>
          </table>
        </div> <!-- id="proiecte_content" -->

        <div id="track_anul_1_content" class="visualstate">
          <table id="anul_1_table" class="table">
            <tr>
              <td colspan=2>
                <h3>Track: Anul 1</h3>
                <br>
                <strong>
                  La acest track încă nu sunt contribuții acceptate.
                </strong>
<!--
                <strong>
                  La acest track sunt <span id="anul_1_contrib_count"></span> contribuții acceptate.
                  <br>
                  <br>
                  Următoarele persoane s-au înregistrat în concurs pentru acest track:
                </strong>
-->
                <br>
              </td>
            </tr>
          </table>
        </div> <!-- id="track_anul_1_content" -->

        <div id="track_anul_2_content" class="visualstate">
          <table id="anul_2_table" class="table">
            <tr>
              <td colspan=2>
                <h3>Track: Anul 2</h3>
                <br>
                <strong>
                  La acest track încă nu sunt contribuții acceptate.
                </strong>
<!--
                <strong>
                  La acest track sunt <span id="anul_2_contrib_count"></span> contribuții acceptate.
                  <br>
                  <br>
                  Următoarele persoane s-au înregistrat în concurs pentru acest track:
                </strong>
-->
                <br>
              </td>
            </tr>
          </table>
        </div> <!-- id="track_anul_2_content" -->

        <div id="track_anul_3_content" class="visualstate">
          <table id="anul_3_table" class="table">
            <tr>
              <td colspan=2>
                <h3>Track: Anul 3</h3>
                <br>
                <strong>
                  La acest track încă nu sunt contribuții acceptate.
                </strong>
<!--
                <strong>
                  La acest track sunt <span id="anul_3_contrib_count"></span> contribuții acceptate.
                  <br>
                  <br>
                  Următoarele persoane s-au înregistrat în concurs pentru acest track:
                </strong>
-->
                <br>
              </td>
            </tr>
          </table>
        </div> <!-- id="track_anul_3_content" -->

        <div id="track_anul_4_content" class="visualstate">
          <table id="anul_4_table" class="table">
            <tr>
              <td colspan=2>
                <h3>Track: Anul 4</h3>
                <br>
                <strong>
                  La acest track încă nu sunt contribuții acceptate.
                </strong>
<!--
                <strong>
                  La acest track sunt <span id="anul_4_contrib_count"></span> contribuții acceptate.
                  <br>
                  <br>
                  Următoarele persoane s-au înregistrat în concurs pentru acest track:
                </strong>
-->
                <br>
              </td>
            </tr>
          </table>
        </div> <!-- id="track_anul_4_content" -->

        <div id="track_master_content" class="visualstate">
          <table id="master_table" class="table">
            <tr>
              <td colspan=2>
                <h3>Track: Master</h3>
                <br>
                <strong>
                  La acest track încă nu sunt contribuții acceptate.
                </strong>
<!--
                <strong>
                  La acest track sunt <span id="master_contrib_count"></span> contribuții acceptate.
                  <br>
                  <br>
                  Următoarele persoane s-au înregistrat în concurs pentru acest track:
                </strong>
-->
                <br>
              </td>
            </tr>
          </table>
        </div> <!-- id="track_master_content" -->

        <div id="meta_content" class="visualstate">
          <h3>Meta</h3>
          <p><strong>Resurse utile</strong></p>
          <p>
            Contribuțiile participanților, defalcate pe track-uri:<br>
            - <a href="#track_anul_1" class="ucmenuitem" data-id="#track_anul_1">Anul 1</a><br>
            - <a href="#track_anul_2" class="ucmenuitem" data-id="#track_anul_2">Anul 2</a><br>
            - <a href="#track_anul_3" class="ucmenuitem" data-id="#track_anul_3">Anul 3</a><br>
            - <a href="#track_anul_4" class="ucmenuitem" data-id="#track_anul_4">Anul 4</a><br>
            - <a href="#track_master" class="ucmenuitem" data-id="#track_master">Master</a>
          </p>
          <p><a href="#proiecte" class="ucmenuitem" data-id="#proiecte">Lista proiectelor propuse</a></p>
          <p>Lista publică de discuții: <a href="http://lists.rosedu.org/listinfo/upstream-challenge" target="_blank">upstream-challenge@lists.rosedu.org</a></p>
          <p>Lista comunității de kernel: <a href="http://lists.rosedu.org/listinfo/firefly" target="_blank">firefly@lists.rosedu.org</a> (pentru discuțiile legate de kernel development)</p>
          <p>Paginile de <a href="https://www.facebook.com/UpstreamChallenge" target="_blank">Facebook</a> și <a href="https://plus.google.com/u/0/b/113601665378127579242/113601665378127579242/posts" target="_blank">Google+</a> ale concursului</p>
          <p><strong>Suport pentru studenți</strong></p>
          <p>Pentru a încuraja participarea la concurs, se vor organiza workshop-uri despre folosirea unor instrumente precum git, issue tracker, submisii de patch-uri, etc. Toate acestea vor fi anunțate pe paginile <a href="https://www.facebook.com/UpstreamChallenge" target="_blank">Facebook</a> și <a href="https://plus.google.com/u/0/b/113601665378127579242/113601665378127579242/posts" target="_blank">Google+</a> asociate precum și în secțiunea de știri de pe pagina principală a acestui site.</p>
          <p>Studenții pot pune întrebări legate de development pe listele <a href="http://lists.rosedu.org/listinfo/upstream-challenge" target="_blank">upstream-challenge@lists.rosedu.org</a> și <a href="http://lists.rosedu.org/listinfo/firefly" target="_blank">firefly@lists.rosedu.org</a> sau pe paginile de <a href="https://www.facebook.com/UpstreamChallenge" target="_blank">Facebook</a> sau <a href="https://plus.google.com/u/0/b/113601665378127579242/113601665378127579242/posts" target="_blank">Google+</a> ale concursului.</p>
          <p>Participanții sunt încurajați să împărtășească prin <a href="http://techblog.rosedu.org/" target="_blank">ROSEdu Techblog</a> sau <a href="http://talks.rosedu.org/" target="_blank">ROSEdu TechTalks</a> cunoștințele acumulate în timpul realizării unei contribuții.</p>
          <p><strong>Ediții anterioare</strong></p>
          <p>
            <a href="http://elf.cs.pub.ro/so/wiki/upstream-challenge" target="_blank">Primăvară 2012</a>
            <br>
            <a href="/past-editions/2013/" target="_blank">Primăvară 2013</a>
          </p>
<!--
          <p><strong>Sponsorizare</strong></p>
          <p hidden>Concursul este sponsorizat de <a href="http://www.intel.com/" target="_blank">Intel România</a>. Consultați <a href="#regulament" class="ucmenuitem" data-id="#regulament">regulamentul</a> pentru detalii.</p>
-->
        </div> <!-- id="meta_content" -->

        <div id="participant_content" class="visualstate">
          <p id="participant_error" style="display: none;"><strong>Această pagină nu conține date.</strong></p>
          <table id="participant_success" class="table">
            <tr>
              <td colspan=5>
                <h3 id="participant_full_name"></h3>
                <br>
                <strong>
                  Track: <span id="participant_track"></span>
                  <br>
                  <br>
                  Contribuții: <span id="participant_contrib_count"></span>
                  <br>
                  <br>
                  <!-- Punctaj: <span id="participant_overall_score"></span> -->&nbsp;
                </strong>
                <br>
              </td>
            </tr>
            <tr>
              <td><strong>Data</strong></td>
              <td><strong>Proiect</strong></td>
              <td><strong>Patch</strong></td>
              <td><strong><!-- Dificultate -->&nbsp;</strong></td>
              <td><strong><!-- Impact -->&nbsp;</strong></td>
            </tr>
          </table>
        </div> <!-- id="participant_content" -->

        <h3>&nbsp;</h3>

        <p class="extra_buttons" id="tap_target_acasa">
          <button class="btn greybutton ucmenuitem" data-id="#acasa">
            <strong>Acasă</strong>
          </button>
        </p>
        <p class="extra_buttons">
          <button class="btn greybutton ucmenuitem" data-id="#regulament">
            <strong>Regulament</strong>
          </button>
        </p>
        <p class="extra_buttons">
          <button class="btn greybutton ucmenuitem" data-id="#proiecte">
            <strong>Proiecte</strong>
          </button>
        </p>
        <p class="extra_buttons">
          <button class="btn greybutton ucmenuitem" data-id="#track_anul_1">
            <strong>Track: Anul 1</strong>
          </button>
        </p>
        <p class="extra_buttons">
          <button class="btn greybutton ucmenuitem" data-id="#track_anul_2">
            <strong>Track: Anul 2</strong>
          </button>
        </p>
        <p class="extra_buttons">
          <button class="btn greybutton ucmenuitem" data-id="#track_anul_3">
            <strong>Track: Anul 3</strong>
          </button>
        </p>
        <p class="extra_buttons">
          <button class="btn greybutton ucmenuitem" data-id="#track_anul_4">
            <strong>Track: Anul 4</strong>
          </button>
        </p>
        <p class="extra_buttons">
          <button class="btn greybutton ucmenuitem" data-id="#track_master">
            <strong>Track: Master</strong>
          </button>
        </p>
        <p class="extra_buttons">
          <button class="btn greybutton ucmenuitem" data-id="#meta">
            <strong>Meta</strong>
          </button>
        </p>
      </div> <!-- class="main span8 offset1" -->
    </div> <!-- class="row-fluid" -->
  </div> <!-- class="wrapper" -->

  <div class="footer-wrapper">
    <div class="footer">&copy; 2014 ROSEdu</div>
  </div>

  <div style="display: none;">
    <img id="arrow_hover" src="">
    <img id="blue_gradient" src="">
  </div>
</div> <!-- class="flexboxlayout fullheight" -->
</body>
</html>
<script type="text/html" id="participant_tr">
  <tr class="participant">
    <td>
      <a href="#<%= participant_id_and_track %>" class="participant_contributions_link" data-id="#<%= participant_id_and_track %>"><strong><%= participant_full_name %></strong></a>
    </td>
    <td>
      <strong><!-- <%= participant_overall_score %>p -->&nbsp;</strong>
    </td>
  </tr>
</script>
<script type="text/html" id="contribution_tr">
  <tr class="contribution">
    <td><%= contribution_date %></td>
    <td><%= contribution_project %></td>
    <td>
      <a href="<%= contribution_patch_url %>" target="_blank">commit</a>
    </td>
    <td><!-- <%= contribution_difficulty_score %> -->&nbsp;</td>
    <td><!-- <%= contribution_impact_score %> -->&nbsp;</td>
  </tr>
</script>
<script src="js/zepto.min.js"></script>
<script src="js/underscore.min.js"></script>
<script src="js/main.js"></script>

