<!-- contact -->
<article id="contact" class="footer">
  <div class="col-md-12"id="contact-banner"></div>
  <div class="col-sm-11 pull-right">
    <div class="row">
      <div class="col-md-4" id="rosedu-logo">
        <p>A project by</p>
        <a href="http://www.rosedu.org" target="_blank"><img src="assets/images/rosedu_logo_transparent.png" alt="ROSEdu"/></a>
      </div>

      <div class="col-md-5" id="social-icons">
        <ul class="navbar">
          <li><a href="https://github.com/orgs/rosedu/" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
          <li><a href="https://www.facebook.com/rosedu.org" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
          <li><a href="https://twitter.com/rosedu_org" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
          <li><a href="https://plus.google.com/+ROSEduOrg/posts" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a></li>
          <li><a href="https://www.youtube.com/user/roseduorg" target="_blank"><i class="fa fa-youtube fa-2x"></i></a></li>
          <li><a href="http://instagram.com/rosedu_org" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
          <li><a href="http://planet.rosedu.org/rss20.xml" target="_blank"><i class="fa fa-rss fa-2x"></i></a></li>
          <li><a href="http://www.rosedu.org/irc/" target="_blank"><i class="fa fa-slack fa-2x"></i></a></li>
        </ul>
      </div>

      <div class="col-md-3 pull-right" id="hacked-with-love">
        <p>Hacked with <img src="assets/images/heart.png"></img>by <a href="http://github.com/rosedu/sites_template" target="_blank">ROSEdu</a>.</p>
      </div>

    </div>
  </div>
</article><!-- /contact -->
