<section id="menu">
  <div class="row">
    <div class="col-md-6" id="logo">
      <a href="/"><img src="assets/images/rosedu_logo_transparent.png" alt="ROSEdu"/></a>
    </div>
    <div class="col-md-6" id="main-menu">
      <ul class="navbar pull-right">
        <li><i class="fa fa-terminal"></i></li>
        <li><a href="#gridId">Grid</a>;</li>
        <li><a href="#featuredId">Featured</a>;</li>
        <li><a href="#formId">Form</a>;</li>
        <li><a href="#albumId">Album</a>;</li>
        <li><a href="#bookId">Book</a>;</li>
        <li><a href="#contact">Contact</a>;</li>
      </ul>
    </div>
  </div>
</section>
