{% for item in site.data.menu %}

<section id="menu">
  <div class="row">
    <div class="col-md-6" id="logo">
      <a href="#"><img src={{ item.logo }} alt={{ item.title }}/></a>
    </div>
    <div class="col-md-6" id="main-menu">
      <ul class="navbar pull-right">
        <li><i class="fa fa-terminal"></i></li>
        <li><a href="#{{ item.section_one_id }}">{{ item.section_one_name }}</a>;</li>
        <li><a href="#{{ item.section_two_id }}">{{ item.section_two_name }}</a>;</li>
        <li><a href="#{{ item.section_three_id }}">{{ item.section_three_name }}</a>;</li>
        <li><a href="#{{ item.section_four_id }}">{{ item.section_four_name }}</a>;</li>
        <li><a href="#{{ item.section_five_id }}">{{ item.section_five_name }}</a>;</li>
        <li><a href="#contact">Contact</a>;</li>
      </ul>
    </div>
  </div>
</section>

{% endfor %}
